#內政測試環境
spring:
  data:
    #    db0: 存refrsesh_token
    redis0:
      database: 0
      host: 10.199.1.115
      lettuce:
        pool:
          max-active: 8 # 连接池最大连接数（使用负值表示没有限制） 默认 8
          max-wait: -1 # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
          max-idle: 8 # 连接池中的最大空闲连接 默认 8
          min-idle: 0 # 连接池中的最小空闲连接 默认 0
    #    db1: 存64碼
    redis1:
      database: 1
      host: 10.199.1.115
      lettuce:
        pool:
          max-active: 8 # 连接池最大连接数（使用负值表示没有限制） 默认 8
          max-wait: -1 # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
          max-idle: 8 # 连接池中的最大空闲连接 默认 8
          min-idle: 0 # 连接池中的最小空闲连接 默认 0
    #    db2: 存cd碼
    redis2:
      database: 2
      host: 10.199.1.115
      lettuce:
        pool:
          max-active: 8 # 连接池最大连接数（使用负值表示没有限制） 默认 8
          max-wait: -1 # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
          max-idle: 8 # 连接池中的最大空闲连接 默认 8
          min-idle: 0 # 连接池中的最小空闲连接 默认 0
  datasource:
    jdbc-url: jdbc:vertica://10.199.1.117:5433/vdb
    driver-class-name: com.vertica.jdbc.Driver
    hikari:
      driver-class-name: io.opentracing.contrib.jdbc.TracingDriver
      jdbc-url: jdbc:vertica://10.199.1.117:5433/vdb
      poolName: Hikari
      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048


server:
  port: 8080

pentaho:
  #pentaho server IP (正式區) 8.3
  web-target: http://10.199.1.116:8080/pentaho
  encodeAuth: /home/moi/app/pentaho/token.txt


directory:
  #pentaho server IP (正式區) 8.3 username:rhel
  target: http://10.199.1.116
  #批次 原始csv存放目錄
  receive-file-dir: /home/moi/addr/batch_data/receive/
  #批次 zip檔存放目錄
  send-file-dir: /home/moi/addr/batch_data/send/
  #大量 原始csv存放目錄
  big-data-receive-file-dir: /home/moi/addr/big_data/receive/
  #大量 zip檔存放目錄
  big-data-send-file-dir: /home/moi/addr/big_data/send/
  #AP檔案落地暫存目錄
  local-temp-dir: /home/moi/app/temp/
  #  etl作業產出的檔案位置前綴
  etl-output-file-dir-prefix: /home/moi/outputFile/
  # 模擬聖森存檔案
  mock-etl-save-file-dir-prefix: /home/moi/saveFile/
  # etl .ktr檔的存放位置
  ktr-file-path: /home/moi/addr/prod/

#如果是自己要在 uat server上測試，要改成/home/moi/app/ap_key/rsa.pub(用自己的公鑰)
key:
#  pubkey-name: D:\rsa_key\rsa.pub #AP公鑰
  pubkey-name: /home/moi/app/ap_key/rsa.pub #AP公鑰
  ap-prikey-name: /home/moi/app/ap_key/rsa.pri #AP私鑰
  ap-pubkey-name: /home/moi/app/ap_key/rsa.pub #AP公鑰



apserver:
  #  批次查詢: 聖森接收批次結束檔案的api url 聖森後端AP
  target-url: http://10.199.1.112:8080/addr/api/iisi
  batchform-update:
  bigquery-update:
  token: /home/moi/app/token/token.txt

#Pentaho Server
sftputils:
 host: 10.199.1.116
 port: 22

LogsLocation: /home/moi/app/aplog/
UsageLogsLocation: /home/moi/app/usagelog/



